<robot name="mycar">
    <!-- base_footprint -->
    <link name="base_footprint">
        <visual>
            <geometry>
                <sphere radius="0.001" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </visual>
    </link>

    <!-- base_link -->
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.5 0.2 0.1" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <material name="blue">
                <color rgba="0.0 0.0 0.5 1" />
            </material>
        </visual>
    </link>

    <!-- cam_link -->
    <link name="cam_link">
        <visual>
            <geometry>
                <box size="0.02 0.05 0.05" />
            </geometry>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <material name="red">
                <color rgba="1 0 0 1" />
            </material>
        </visual>
    </link>

    <!-- joint: base_link2base_footprint -->
    <joint name="base_link2base_footprint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin xyz="0 0 0.05" />
    </joint>

    <!-- joint: cam_link2base_link -->
    <joint name="cam_link2base_link" type="continuous">
        <parent link="base_link" />
        <child link="cam_link" />

        <!-- translation between 2 links -->
        <origin xyz="0.2 0 0.075" rpy="0 0 0" />
        <axis xyz="0 0 1" />    
    </joint>
</robot>